<div class="container">
    <div>
        <acme-navbar />
    </div>
    <div class="col-md-4">
      <h1>Add Employee</h1>
      <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>

        <!-- NAME -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
            <label>Name*</label>
            <input type="text" name="name" class="form-control" ng-model="user.name" required>
            <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
        </div>

        <!-- PHONE -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.phone.$invalid && !userForm.phone.$pristine }">
            <label>Phone No</label>
            <input type="number" name="phone" class="form-control" ng-model="user.phone" ng-minlength="3" ng-maxlength="8">
            <p ng-show="userForm.phone.$error.minlength" class="help-block">PhoneNo is too short.</p>
            <p ng-show="userForm.phone.$error.maxlength" class="help-block">PhoneNo is too long.</p>
        </div>

        <!-- EMAIL -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
            <label>Email*</label>
            <input type="email" name="email" class="form-control" ng-model="user.emailId" required>
            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
        </div>

        <!-- ADDRESS -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.address.$invalid && !userForm.address.$pristine }">
            <label>Address</label>
            <textarea type="textarea" name="address" class="form-control" ng-model="user.address" ng-minlength="5" ng-maxlength="100">
            </textarea>
            <p ng-show="userForm.address.$error.minlength" class="help-block">Address is too short.</p>
            <p ng-show="userForm.address.$error.maxlength" class="help-block">Address is too long.</p>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
    </div>
    <div class="col-md-6">
      <h1>Employees</h1>
      <accordion close-others="oneAtATime">

     <accordion-group heading="{{employee.name}}" panel-class="panel-default" ng-repeat="employee in employees">
       <div class="col-md-12">
         <div class="">
           <span ><b>Id:</b></span><span> {{employee.id}}</span><br>
           <span><b>EmailId:</b></span><span> {{employee.emailId}}</span><br>
            <span><b>phone:</b></span><span> {{employee.phone}}</span><br>
             <span><b>Address:</b></span><span> {{employee.address}}</span>
         </div>
       </div>
       <button class="btn btn-danger pull-right" ng-click=deleteEmployee(employee)>Delete</button>
     </accordion-group>
   </accordion>
    </div>

</div>
